[submodule "vim/.vim/pack/my-plugins/start/markdown-folding"]
	path = vim/.vim/pack/my-plugins/start/markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding.git
[submodule "vim/.vim/pack/my-plugins/start/sneak"]
	path = vim/.vim/pack/my-plugins/start/sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "vim/.vim/pack/my-plugins/start/pandoc"]
	path = vim/.vim/pack/my-plugins/start/pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "vim/.vim/pack/my-plugins/start/smooth-scroll"]
	path = vim/.vim/pack/my-plugins/start/smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll.git
[submodule "vim/.vim/pack/my-plugins/start/surround"]
	path = vim/.vim/pack/my-plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/pack/my-plugins/start/repeat"]
	path = vim/.vim/pack/my-plugins/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/pack/my-plugins/start/signature"]
	path = vim/.vim/pack/my-plugins/start/signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "vim/.vim/pack/my-plugins/start/ctrlp"]
	path = vim/.vim/pack/my-plugins/start/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/pack/my-plugins/start/table-mode"]
	path = vim/.vim/pack/my-plugins/start/table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "vim/.vim/pack/my-plugins/start/thesaurus_query.vim"]
	path = vim/.vim/pack/my-plugins/start/thesaurus_query.vim
	url = https://github.com/Ron89/thesaurus_query.vim.git
[submodule "vim/.vim/pack/my-plugins/lightline"]
	path = vim/.vim/pack/my-plugins/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/.vim/pack/my-plugins/start/conquer-of-completion"]
	path = vim/.vim/pack/my-plugins/start/conquer-of-completion
	url = https://github.com/neoclide/coc.nvim.git
