.ICEauthority
.Xauthority
.adobe
.adobe/ 
.aspell.en.prepl
.aspell.en.pws
.bash_history
.bash_logout
.cache/
.dbus/
.dmenu-cache
.dmenu_cache
.dmrc
.gconf/
.gitconfig
.gksu.lock
.gstreamer-0.10/
.gtk-bookmarks
.hplip
.icedove
.java
.macromedia
.pentadactyl/
.pki
.pulse
.pulse-cookie
.purple
.sane/
.thumbnails
.vim/.netrwhist
.viminfo
.vimperator/
.xsession-errors
.xsession-errors.old
Downloads
gDrive
