alias refresh='source ~/.bash_profile'

alias c='clear'
alias e='exit'

alias -- -='cd -'

alias l='ls -CF -lh'
alias ll='ls -l'
alias la='ls -A'

alias feh='feh --auto-zoom --sort filename'

alias ct='column -t'
alias info='info --vi-keys'

# Services
alias a2restart="sudo service apache2 restart"
alias sss='python -m SimpleHTTPServer 8888' # Start Simple Server

# Utilities
alias vi='vim'
alias unrar="unrar x"
alias ed='ed -p:'
# alias google='googler -n 3 --noua --np'
alias google='googler -n 4 --noua BROWSER=firefox'

# Linux things
# alias backport='sudo apt-get -t wheezy-backports install'
# alias installed='dpkg --get-selections'
# alias copy='xclip -sel clip'
