set editing-mode vi
set keymap vi-command
set show-all-if-ambiguous on
set completion-ignore-case on
set bell-style none

# vi mode indicator
set show-mode-in-prompt on
set vi-cmd-mode-string "⚇ ⎴ "
set vi-ins-mode-string "⚆ ␣ "

# Show extra file information when completing, like `ls -F` does
set visible-stats on

# removes the annoying "-- more --" prompt for long lists
set page-completions off
